.SearchWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Search-input {
    margin-bottom: 6px;
    width: 100%;
}

.Search-button {
    margin-bottom: 16px;
    width: 100%;
}

.Search-card {
    margin-bottom: 16px;
}

@media only screen and (min-width: 600px) {
    .SearchWrapper {
        flex-direction: row;
    }

    .Search-input {
        margin-bottom: 16px;
        margin-right: 6px;
        flex-grow: 1;
    }
    
    .Search-button {
        width: auto;
    }    
}